@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden;
}

.inpSearch {
  outline: none;
  padding-left: 10px;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

li {
  list-style: none;
}

.dropdown {
  border: 1px solid #E9E9E9
}

.title {
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.dropdown-list {
  font-weight: 400;
}

.dropdown-list:hover {
  padding-left: 28px;
  color: #969696;
  transition: 0.5s;
}

.hide {
  transform: translateY(-100%);
}

.show {
  transform: translateY(0);
}

.menu {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding-top: 1px;
  transition: transform 0.3s ease;
}

.mobileMenu{
  z-index: 1000;
  top: 0px;
  animation-name: menu;
  animation-duration: 1s;
}
@keyframes menu {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
body.menu-open {
  overflow: hidden;
}
.card{
  font-family: "Roboto", sans-serif;
}
.author{
  font-weight: 500;
}
.date{
  font-weight: 400;
}
.container2{
  max-width: 1160px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .headerMenu{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .inpSearch{
    width: 100% !important;
    padding-left: 0px !important;
    padding-top: 0px;
  }
}

@media screen and (max-width: 350px) {
  .mobileMenu{
    width: 100%;
  }
}
